* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  font-family: 'Open Sans', sans-serif;
}
div#top-header {
  padding: -5px;
  color: black;
  background-color: #f3f3f3!important;
}
div#top-menu ul li {
  display: inline;
  margin: 5px;
  text-align: right;
}
div#header {
  padding: -5px;
  color: black;
}
div#menu ul li {
  font-family: Lato,"Josefin Sans",sans-serif;
  display: inline;
  margin: 5px;
}
.head-img{
  padding: 10px 59px;
  height: 70px;
}
