<div id="top-header">
    <div id="top-menu">
        <ul>
            <li>Sign up for email offers</li> |
            <li>Rewards programme</li> |
            <li>Reservation +65 6688 8888</li> |
            <li>Manage your booking</li> |
            <li>English</li> |
            <li>SGD</li>
        </ul>
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><img class="head-img" src="/assets/Images/Icons/logo.svg"></li>
            <li class="list-inline-item">HOTEL</li>
            <li class="list-inline-item">SKYPARK</li>
            <li class="list-inline-item">ENTERTAINMENT</li>
            <li class="list-inline-item">SHOPPES</li>
            <li class="list-inline-item">RESTAURANTS</li>
            <li class="list-inline-item">MUSEUM</li>
            <li class="list-inline-item">MEETINGS</li>
            <li class="list-inline-item">MORE+</li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid text-left">
    <p>© 2018 Marina Bay Sands. All Rights Reserved.</p>
</footer>
